<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94B38A151CEBB71F00925126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94B38A2E1CEBB71F00925126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94B38A391CEBB71F00925126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
